 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
</div>
 <h1 style="text-align: center"> My Expertise </h1>
  <div class="user">      
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-foundation-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <!-- <p>Start from basic html5 then move to bootstrap also foundation framework.</p> -->
    </div>
    <div class="tech">
      <h2>Framework & Language</h2>
      <i class="devicon-laravel-plain colored"></i>      
      <i class="devicon-mysql-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain colored"></i>
      <img src="{{ "/assets/img/flutter.png" | prepend: site.baseurl }}" alt="" height="65" width="65" >
      <img src="{{ "/assets/img/unity3d.png" | prepend: site.baseurl }}" alt="" height="65" width="65" >
      <!-- <p>Created 5 website project with laravel project currently in progress making social platform for muslim. Other than that, i have created a basic system using vb.net and access database also basic mobile app using android studio with firebase. Check my github account for more.</p> -->
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-github-plain colored"></i>      
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-gitlab-plain colored"></i>
      <i class="devicon-slack-plain-wordmark"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <img src="{{ "/assets/img/gitkraken.png" | prepend: site.baseurl }}" alt="" height="65" width="65" >
      <!-- <p>Moving from sublime to visual studio code and happy with it, lot of features with more clean interface. Been using both gitlab and github, also using gitkraken to manage both git. Slack and trello are my choice for team chat and task management.</p> -->
    </div>
    <div class="tech">
      <h2>Enviroment</h2>
      <i class="devicon-ubuntu-plain colored"></i>
      <i class="devicon-heroku-plain colored"></i>
      <i class="devicon-nginx-original colored"></i>
      <!-- <p>In love with linux and will always been, using it almost a year and i find it really addicting. Use heroku for live testing website.</p> -->
    </div>
</div>
