<div class="user-details">
  <h1> Featured Projects & Event</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="personel project" src="{{ "/assets/img/khairat-kematian.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Khairat Kematian </h3>
    <ul>
      <li> Funeral Expenses System</li>
    </ul>
    <p>Funeral Expanses system is for managing collected money from residential area so that every death will be managed properly with the collected money. Every user register will need to pay fees yearly, the system also included with finacial manager.</p>
    <a class="project-link" href="http://khairat.online/login">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="personel project" src="{{ "/assets/img/zammani.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Zammani </h3>
    <ul>
      <li> Muslim Social Platform</li>
    </ul>
    <p>Social platform for muslim to create organization, share news and announcement to people in same area.</p>
    <a class="project-link" href="https://www.zammani.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="personel project" src="{{ "/assets/img/teach.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> School@UKM Pengaturcaraan Web </h3>
    <ul>
      <li> Basic Web Development </li>
    </ul>
    <p>Exposing school student on how to create basic website using HTML, CSS and PHP. The programme started on 13 Dicember 2018 until 14 Dicember 2018 and the participent is student from age 7 to 22 years old. I has been positioned as teacher in this programme where i will be teaching how to make website logic using PHP. The programme has been successfully where all the student get the experience to create their on website.</p>
    <a class="project-link" href="https://drive.google.com/drive/folders/137pS9NrTDWShB6GGPwu_3MX7sPvG2F9F">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="firebase workshop ukm" src="{{ "/assets/img/firebase.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Firebase Workshop </h3>
    <ul>
      <li> Android App With Firebase </li>
    </ul>
    <p>Workshop for creating android app using android studio and firebase. This workshop was held on 17 November 2018 from 8.00 am to 5.00 pm and organized by M.A.D Club. I have created and todo list app with firebase as the database and it is a new experience for me becouse usually i will use SQL database.</p>
    <a class="project-link" href="https://github.com/Ezlan97/android-firebase">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="3 days of code MMU" src="{{ "/assets/img/3dayscode.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hackathon - 3 Days Of Code </h3>
    <ul>
      <li> AR technology </li>
    </ul>
    <p> On 21 april to 23 april 2019 me and my team "Ping Floyd" join a Hackathon competition at MMU Cyberjaya representing UKM. We are proposing and developing a AR based interactive learning using Unity 3d, we manage to get to the final round and top 5 from 11 group.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="laragit laravel github ukm" src="{{ "/assets/img/laragit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cabaran Digital - LaraGit </h3>
    <ul>
      <li> Laravel Framework & Git </li>
    </ul>
    <p>Promoting open source software that has a high demand in industry, which is Laravel Framework for web development and also git a project management system. This program was held on 2 may until 3 may 2019, also i have been appointed as trainer of the program that responsible for creating the module and teach.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="digital poster ukm" src="{{ "/assets/img/digital-poster.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Digital Poster </h3>
    <ul>
      <li> GIMP </li>
    </ul>
    <p> Digital Poster is a program to promote open source and GIMP to people who want to learn on photo editing skill. This program was held on 4 dec 2019 with 14 participant mostly primary school student. I was on duty as leader AJK Teknikal and has successfully setup all the 14 linux pc with the same version GIMP as the AJK Program modul use. The program was going smoothly with all the student can focus on the lecture without have to worry about the software there are using.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="devfest" src="{{ "/assets/img/devfest.jpg" | prepend: site.baseurl }}" style="transform:rotate(270deg);" />
  </div>
  <div class="contents-right">
    <h3> Google Devfest </h3>
    <ul>
      <li> Google Developer Group KL </li>
    </ul>
    <p>DevFests are community-led, developer events hosted by GDG chapters around the globe focused on community building and learning about Google’s technologies. I attend this event on 7 dec 2019 and go throught almost all talk that related on web and flutter development. This was a great experience and i hoping to attent this event again next year.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="bengkel ionic kuis" src="{{ "/assets/img/bengkel-ionic.jpg" | prepend: site.baseurl }}" style="transform:rotate(270deg);" />
  </div>
  <div class="contents">
    <h3> Bengkel Ionic </h3>
    <ul>
      <li> Ionic Framework & Firebase </li>
    </ul>
    <p> Ionic workshop was held on 11 jan 2020 to 12 jan 2020 and the main focus in on developing a mobile app where ionic framework is the frontend and firebase as the backend. The trainer for this program was En. Khairulnizam B. Abd Rahman lecture of faculty science computer at KUIS also my lecture when i studied diploma in KUIS. By then end of the program we have created a simple mobile app that have CRUD functionality to get better undestanding on how ionic and firebase work.</p>
  </div>
</div>
