<div class="user-details">
  <h1> Featured Projects & Event</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/khairat-kematian.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Khairat Kematian </h3>
    <ul>
      <li> Funeral Expenses System</li>
    </ul>
    <p>Funeral Expanses system is for managing collected money from residential area so that every death will be managed properly with the collected money. Every user register will need to pay fees yearly, the system also included with finacial manager.</p>
    <a class="project-link" href="http://khairat.online/login">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/zammani.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Zammani </h3>
    <ul>
      <li> Muslim Social Platform</li>
    </ul>
    <p>Social platform for muslim to create organization, share news and announcement to people in same area.</p>
    <a class="project-link" href="https://www.zammani.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/teach.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> School@UKM Pengaturcaraan Web </h3>
    <ul>
      <li> Basic Web Development </li>
    </ul>
    <p>Exposing school student on how to create basic website using HTML, CSS and PHP. The programme started on 13 Dicember 2018 until 14 Dicember 2018 and the participent is student from age 7 to 22 years old. I has been positioned as teacher in this programme where i will be teaching how to make website logic using PHP. The programme has been successfully where all the student get the experience to create their on website.</p>
    <a class="project-link" href="http://khairat.online/login">Check it out</a>
  </div>
</div>
