<div class="user-details">
  <h1> Featured Projects & Event</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/khairat-kematian.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Khairat Kematian </h3>
    <ul>
      <li> Funeral Expenses System</li>
    </ul>
    <p>Funeral Expanses system is for managing collected money from residential area so that every death will be managed properly with the collected money. Every user register will need to pay fees yearly, the system also included with finacial manager.</p>
    <a class="project-link" href="http://khairat.online/login">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/zammani.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Zammani </h3>
    <ul>
      <li> Muslim Social Platform</li>
    </ul>
    <p>Social platform for muslim to create organization, share news and announcement to people in same area.</p>
    <a class="project-link" href="https://www.zammani.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/teach.JPG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> School@UKM Pengaturcaraan Web </h3>
    <ul>
      <li> Basic Web Development </li>
    </ul>
    <p>Exposing school student on how to create basic website using HTML, CSS and PHP. The programme started on 13 Dicember 2018 until 14 Dicember 2018 and the participent is student from age 7 to 22 years old. I has been positioned as teacher in this programme where i will be teaching how to make website logic using PHP. The programme has been successfully where all the student get the experience to create their on website.</p>
    <a class="project-link" href="https://drive.google.com/drive/folders/137pS9NrTDWShB6GGPwu_3MX7sPvG2F9F">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/firebase.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Firebase Workshop </h3>
    <ul>
      <li> Android App With Firebase </li>
    </ul>
    <p>Workshop for creating android app using android studio and firebase. This workshop was held on 17 November 2018 from 8.00 am to 5.00 pm and organized by M.A.D Club. I have created and todo list app with firebase as the database and it is a new experience for me becouse usually i will use SQL database.</p>
    <a class="project-link" href="https://github.com/Ezlan97/android-firebase">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/3dayscode.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hackathon - 3 Days Of Code </h3>
    <ul>
      <li> AR technology </li>
    </ul>
    <p> On 21 april to 23 april 2019 me and my team "Ping Floyd" join a Hackathon competition at MMU Cyberjaya representing UKM. We are proposing and developing a AR based interactive learning using Unity 3d, we manage to get to the final round and top 5 from 11 group.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/laragit.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cabaran Digital - LaraGit </h3>
    <ul>
      <li> Laravel Framework & Git </li>
    </ul>
    <p>Promoting open source software that has a high demand in industry, which is Laravel Framework for web development and also git a project management system. This program was held on 2 may until 3 may 2019, also i have been appointed as trainer of the program that responsible for creating the module and teach.</p>
  </div>
</div>